template(name="home")
  .home
    .row
      .container
        .jumbotron
          h1 Welcome to Reedly.
          p
            | Find out what people are reading on Feedly, and like, follow them and stuff.
          p
            +loginButtons
