template(name="navbar")
  nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        a.navbar-brand(href='#')
          img(src="img/logo.svg")
      div.navbar-form.navbar-right
        .form-group
          +loginButtons
