template(name="userCard")
  .user-card
    img.img-circle.avatar(src="#{services.feedly.picture}")
    h3 #{services.feedly.givenName} #{services.feedly.familyName}
    p.lead #{profile.tags}

    .follow
      ul.pager
        li
          a Follow
        li
          a Subscribe
